* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: rgb(60, 60, 60);
    transition: 0.3s
}
body {
    padding-bottom: 50px;
}

.main_heading {
    font-size: 200%;
    text-align: center;
    margin-top: 20px;
}

#network_container {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}

.node {
    cursor: pointer;
}

#tooltip {
    position: absolute;
    display: none;
    padding-top: 5px;
    padding-left: 8px;
    width: 150px;
    height: 90px;
    border-radius: 3px;
    background-color: rgb(215, 230, 245);
    pointer-events: none;
    font-size: 80%;
    border: 1px solid black;
}

.info {
    margin-bottom: 5px;
}

.info_heading {
    font-weight: bold;
}