* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: rgb(60, 60, 60);
    transition: 0.3s
}
body {
    padding-bottom: 50px;
}

.main_heading {
    font-size: 200%;
    text-align: center;
    margin-top: 20px;
}

#network_container {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}



